.list-container {
    font-size: 1em;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    color:#517174;
    display: block;
}

h3 {
    margin: 20px;
    display: inline-flex;
    color: #DCBE87;
    margin-top: 0px;
    text-align: center;
    
}

.item {
    background-color: #DCBE87

}

.item.hover {background-color: #d8a953}