.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 3;

}

ul {
    border-radius: 2%;
    margin: 10px;
    background-color: #DCBE87;
}


span {
    color: rgba(119, 108, 22, 0.782);
    font-weight: 1000;
}

p {
    text-align: center;
    color: #517174;
    margin: 5px;
}



.list-item p{
    text-align: center;
}


.icon-container{
    font-size:20px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.icon-btn-modificar {
    color: #0275d8;
}

.icon-btn-modificar:hover {
    cursor: pointer;
    font-size:1.5em;
    transition: 0.5s ease-out;
}

.icon-btn-borrar{
    color: #d9534f;
}

.icon-btn-borrar :hover{
    cursor: pointer;
    font-size:1.5em;
    transition: 0.5s ease-out;
}

 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

.btn-mostrar{
    text-decoration: none;
    background-color: rgba(253, 254, 255, 0.782);
    border: 0;
    color: #517174;
    padding: 10px;
    width: 100%;   
    font-size: 1em;
}

.btn-mostrar:hover {
    background-color: #d8a953;
    text-decoration: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

