.navbar{
    display: grid;
}
.title{
margin: 1% auto;
text-align: center;
padding:0% 30%;
display:flex;
color:#DCBE87;
flex-direction: row;
background-color: #AD6A34;
}
.options{
display:grid;
margin:auto;
grid-template-columns: repeat(3,32vw);
grid-template-rows:repeat(2,62px);
}
.link{
    font-size: 1em;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    color:#517174;
    background-color: #DCBE87;
}
.link:hover {background-color: #d8a953}

.link:active {
  background-color: #d8a953;
  transform: translateY(2px);
}
    
.link.left{
    margin-left:40%;
    margin-right: 5%;
}
.link.middle{
 margin-left: 20%;
 margin-right: 20%;
}
.link.right{
margin-right:40%;
margin-left:5%
}